<p>
  about works!
</p>

<section class="models">
  <nz-collapse class="model">
    <nz-collapse-panel [nzHeader]="'Repository'">
      <pre>
        <code>
          class Developer
              rank: number
          avatar: string
          accountName: string
          userName: string
          repository: string
          description: string
        </code>
    </pre>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-collapse class="model">
    <nz-collapse-panel [nzHeader]="'Repository'">
      <pre>
        <code>
          class Developer
              rank: number
          avatar: string
          accountName: string
          userName: string
          repository: string
          description: string

        </code>
      </pre>
    </nz-collapse-panel>
  </nz-collapse>
</section>
