.layout {
  height: 100vh;
}
.header {
  color: #fff;
}
.content {
  flex: 1;
  background-color: #fff;
}

.section {
  padding: 3rem 1rem;
  text-align: center;
}

.button {
  width: 10rem;
}

.code {
  display: block;
  padding: 1rem;
  width: 90%;
  margin: 1rem auto;
}
