<header class="header">
  <div class="container">
    <h1 class="title">{{ title | titlecase }}</h1>
    <nav class="nav">
      <a class="link" routerLink="" routerLinkActive="active">home</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a class="link" routerLink="/about" routerLinkActive="active">about</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a
        class="link"
        href="https://github.com/xrr2016/github-trending-api"
        target="_blank"
        >github</a
      >
    </nav>
  </div>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>
