<nz-layout class="layout">
  <nz-header class="header">{{ title }}</nz-header>
  <a class="link">http://githubtrendingapi.xyz/.netlify/functions/hello</a>
  <nz-content class="content">
    <section class="section">
      <button
        class="button"
        nz-button
        nzSize="large"
        nzType="primary"
        (click)="getJson()"
      >
        Try
      </button>
    </section>
    <pre>[
      <code class="code json" *ngFor="let item of data">{{ item }}</code>
      ]
    </pre>
  </nz-content>
</nz-layout>
