.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-item {
  flex: 1;
}

.form-item:last-of-type {
  margin: 0;
}

.submit-button {
  width: 100%;
}

.urls {
  margin-top: 1.5rem;
}

.url {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  margin: 0;
}
.url:first-of-type {
  margin-bottom: 0.5rem;
}

.url .prefix {
  width: 50px;
}

.url .text {
  flex: 1;
  color: #333;
}
